/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/* Coolors Exported Palette - coolors.co/383140-04030c-cac7d7-8a8604-f4ed71 */
.bg--onyx {
  background-color: #38313f; }

.bg--richblack {
  background-color: #04030c; }

.bg--lavendergray {
  background-color: #c9c6d7; }

.bg--dark-rasberry {
  background-color: #8c2c55; }

.bg--jasper {
  background-color: #d63d3d; }

.bg--light-onyx {
  background-color: #645e6d; }

.bg--default-color {
  background-color: #F4F5F6; }

.text--dark-rasberry {
  color: #8c2c55; }

.text--lavendergray {
  color: #c9c6d7; }

.text--onyx {
  color: #38313f; }

.text--richblack {
  color: #04030c; }

.text--default-color {
  color: #F4F5F6; }

.text--light-onyx {
  color: #645e6d; }

html,
body {
  font-size: 18px;
  font-family: "Montserrat";
  color: #38313f;
  line-height: 27px;
  font-weight: 300; }

.h1,
h1 {
  font-size: 3.388em;
  line-height: 1.32em;
  font-family: "Indie Flower", "Segoe Print";
  margin-top: 0.44em;
  margin-bottom: 0.88em; }

.header__logo {
  font-size: 2.27em;
  line-height: 1.14em;
  font-family: "Indie Flower", "Segoe Print";
  margin-bottom: 0.44em;
  color: #F4F5F6;
  text-align: center; }

.header--full-width .header__logo {
  font-size: 2.27em;
  line-height: 1em;
  margin: 0 0 0 14px; }

.h2,
h2 {
  font-size: 2.27em;
  line-height: 1.31em;
  padding-top: 0.65em;
  padding-bottom: 0.65em; }

h3,
.h3,
.title {
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 1.3em;
  margin-bottom: 0.7em;
  font-family: "Libre Baskerville"; }

.h4,
h4,
h5,
.h5,
p,
.p {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 300;
  margin-top: 0.75em;
  margin-bottom: 0em; }

.h6,
h6 {
  font-size: 0.77em; }

.h7 {
  font-size: 0.6em; }

.highlighted {
  font-weight: 400;
  line-height: 1.7em; }

a {
  text-decoration: none; }
  a:hover {
    color: #d63d3d; }

.dotted {
  border-bottom: 2px dotted #c9c6d7;
  color: #8c2c55; }
  .dotted:hover {
    color: #d63d3d; }
  .dotted:focus {
    color: #04030c; }

ul ul,
ol ol,
ul ol,
ol ul,
ol,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 1em; }

li {
  line-height: 1.5em;
  padding-bottom: 3px; }

.list--no-bullet {
  list-style: none; }

.filter--gray {
  filter: #c9c6d7;
  -webkit-filter: grayscale(1); }

.filter--none {
  filter: none;
  -webkit-filter: grayscale(0); }

.effect--scale {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  background-color: white; }
  .effect--scale:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-box-shadow: 0px 0px 24px -11px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 24px -11px rgba(0, 0, 0, 0.75); }

/*------------------------------------*\
  #button
\*------------------------------------*/
.btn--s {
  padding: 7px 14px;
  border-radius: 25px;
  border: 1px solid #d63d3d;
  color: #d63d3d;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .btn--s:hover, .btn--s:focus {
    text-decoration: none;
    color: #F4F5F6;
    background-color: #d63d3d; }
  .btn--s:active {
    color: #04030c; }

/*------------------------------------*\
  #hash tags
\*------------------------------------*/
.tag-list__link {
  padding: 4px 0px;
  border-radius: 14px;
  border: 1px solid none;
  color: #c9c6d7;
  color: #c9c6d7; }
  .tag-list__link:before {
    content: "#"; }
  .tag-list__link:active {
    color: #04030c; }

.disqus {
  color: #c9c6d7; }
  .disqus:hover, .disqus:focus {
    text-decoration: none;
    color: #645e6d; }
  .disqus:active {
    color: #04030c; }

/*------------------------------------*\
  #icons
\*------------------------------------*/
.item--home, .item--email, .item--linkedin, .item--fb {
  background-size: cover;
  width: 27px;
  height: 27px; }

/*------------------------------------*\
  #read more arrow
\*------------------------------------*/
.arrow--right:after {
  content: " ";
  display: inline-block;
  background: url("../img/icons/arrow-right-small.svg") no-repeat top center;
  width: 7px;
  height: 11.67px;
  position: relative; }

/*------------------------------------*\
  #grid
\*------------------------------------*/
/*------------------------------------*\
  #mixin
\*------------------------------------*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

html,
body {
  font-size: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%; }

.hide {
  display: none; }

.fix {
  display: block;
  position: relative !important;
  margin-right: 0 !important;
  width: 80% !important; }

.margin--top {
  top: 54px !important; }

.pagination.flex--centered-row {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 54px; }

.round {
  border-radius: 50%; }

.next,
.prev {
  background-color: #04030c;
  color: white; }

a.next,
a.prev {
  text-decoration: none;
  display: inline-block;
  padding: 6px 18px;
  padding-bottom: 9px; }
  a.next:hover,
  a.prev:hover {
    background-color: #d63d3d;
    color: black; }
  a.next:focus,
  a.prev:focus {
    color: #F4F5F6; }

.flex--centered-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex--centered-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.text--center {
  text-align: center; }

.position--abs {
  position: absolute !important; }

.position--rel {
  position: relative; }

.item__icon {
  width: 27px; }

figure {
  margin: 0; }

.display--half {
  width: 45%; }

.display--third {
  width: 28%; }

.filters-button-group {
  padding-top: 54px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.button {
  display: inline-block;
  padding: 2px 6px;
  background: white;
  border-radius: 7px;
  cursor: pointer; }

.button:hover {
  background-color: #F4F5F6; }

.button:active,
.button.is-checked {
  background-color: #d63d3d; }

.button.is-checked {
  color: #F4F5F6; }

.button:active {
  color: #04030c; }

.button-group a {
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px; }

.button-group .button:first-child {
  border-radius: 0.5em 0 0 0.5em; }

.button-group .button:last-child {
  border-radius: 0 0.5em 0.5em 0; }

.blockrain-game-holder {
  position: relative;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 140%; }

/* Touch Controls */
.blockrain-touch {
  position: absolute;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 100%;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.2);
  z-index: 10;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 50px;
  text-align: center; }

.blockrain-touch:active {
  background: rgba(255, 255, 255, 0.3); }

.blockrain-touch-left {
  left: -60px;
  bottom: 10px; }

.blockrain-touch-left::after {
  content: "<"; }

.blockrain-touch-right {
  right: -60px;
  bottom: 10px; }

.blockrain-touch-right::after {
  content: ">"; }

.blockrain-touch-rotate-left {
  left: -60px;
  bottom: 80px; }

.blockrain-touch-rotate-left::after {
  content: "<o"; }

.blockrain-touch-rotate-right {
  right: -60px;
  bottom: 80px; }

.blockrain-touch-rotate-right::after {
  content: "o>"; }

.blockrain-touch-drop {
  left: 50%;
  margin-left: -25px;
  bottom: -60px; }

.blockrain-touch-drop::after {
  content: "."; }

/* Score */
.blockrain-score-holder {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right; }

.blockrain-score-msg {
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 0.2em; }

.blockrain-score-num {
  font-size: 20px;
  font-weight: bold; }

/* Menu */
.blockrain-start-holder, .blockrain-game-over-holder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  text-align: center; }

.blockrain-start, .blockrain-game-over {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.blockrain-start-msg, .blockrain-game-over-msg {
  font-size: 18px;
  margin-bottom: 30px; }

/*------------------------------------*\
  #mobile view
\*------------------------------------*/
.home__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%; }

.home__grid {
  display: grid;
  width: 100%;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, minmax(27px, auto));
  grid-gap: 14px; }

.home__grid--header {
  grid-column-start: 1;
  -ms-grid-column: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  -ms-grid-row: 1;
  grid-row-end: 4;
  margin-bottom: 0; }

.home__grid--portfolio {
  grid-column-start: 1;
  -ms-grid-column: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  -ms-grid-row: 4;
  grid-row-end: 6;
  margin: 0 14px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Animation */ }
  .home__grid--portfolio:hover {
    -webkit-transform: scale(1.08);
            transform: scale(1.08); }

.home__grid--blog {
  grid-column-start: 3;
  -ms-grid-column: 3;
  grid-column-end: 5;
  grid-row-start: 6;
  -ms-grid-row: 6;
  grid-row-end: 8;
  margin-right: 14px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Animation */ }
  .home__grid--blog:hover {
    -webkit-transform: scale(1.08);
            transform: scale(1.08); }

.home__grid--toplikes {
  grid-column-start: 1;
  -ms-grid-column: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  -ms-grid-row: 6;
  grid-row-end: 8;
  margin-left: 14px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Animation */ }
  .home__grid--toplikes:hover {
    -webkit-transform: scale(1.08);
            transform: scale(1.08); }

.home__grid--latest {
  grid-column-start: 1;
  -ms-grid-column: 1;
  grid-column-end: 5;
  grid-row-start: 8;
  -ms-grid-row: 8;
  grid-row-end: 11;
  margin: 0 14px 14px 14px;
  overflow: hidden;
  background-color: #38313f; }

h3.latest__title {
  font-size: 1.2em; }

.home__grid .header__logo {
  font-size: 2.27em;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 0.3em; }

.home__avatar {
  margin-top: 14px; }

.header__greet {
  display: none; }

h4.header__slogan {
  margin-top: 0; }

.header__btn {
  margin: 14px 0; }

.home__portrait {
  display: none; }

.footer {
  height: 54px; }

a.home__grid--blog:hover {
  color: inherit; }

a.home__grid--portfolio:hover,
a.home__grid--toplikes:hover,
.header__logo a:hover {
  color: #F4F5F6; }

.item--home {
  background: url("../img/avatar-mobile.png") no-repeat;
  background-size: contain;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s; }
  .item--home:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background: url("../img/icons/home.svg");
    background-size: contain; }

.item--email {
  background: url("../img/icons/email.svg") no-repeat;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s; }
  .item--email:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background: url("../img/icons/email-icon-red.svg");
    background-size: contain; }

.item--linkedin {
  background: url("../img/icons/linkedin.svg") no-repeat;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s; }
  .item--linkedin:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background: url("../img/icons/linkedin-icon-red.svg");
    background-size: contain; }

.item--fb {
  background: url("../img/icons/fb.svg") no-repeat;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s; }
  .item--fb:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background: url("../img/icons/fb-icon-red.svg");
    background-size: contain; }

.home__grid .grid__title {
  padding: 7px 0 0 0;
  margin: 0; }

.footer__list {
  padding-left: 0; }
  .footer__list li {
    padding-bottom: 0;
    padding-left: 27px; }

.home__grid .grid__icon {
  width: 27px; }

.home__grid--game {
  display: none; }

/*------------------------------------*\
  #tablet view
\*------------------------------------*/
@media screen and (min-width: 769px) {
  html,
  body {
    font-size: 100%; }
  .home__grid {
    display: grid;
    width: 100%;
    padding: 0;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, minmax(54px, auto));
    grid-gap: 27px;
    -ms-grid-template-columns: repeat(7, 1fr);
    -ms-grid-template-rows: repeat(8, 1fr);
    -ms-grid-gap: 27px; }
  .home__grid--header {
    grid-column-start: 1;
    -ms-grid-column: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    -ms-grid-row: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    margin: 0; }
  .home__grid--blog {
    grid-column-start: 1;
    -ms-grid-column: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    -ms-grid-row: 4;
    grid-row-end: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    margin-left: 33px;
    margin-right: 0px; }
  .home__grid--toplikes {
    grid-column-start: 6;
    -ms-grid-column: 6;
    grid-column-end: 8;
    grid-row-start: 4;
    -ms-grid-row: 4;
    grid-row-end: 6;
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    margin-right: 33px;
    margin-left: 0px; }
  .home__grid--portfolio {
    grid-column-start: 3;
    -ms-grid-column: 3;
    grid-column-end: 6;
    grid-row-start: 4;
    -ms-grid-row: 4;
    grid-row-end: 6;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    margin: 0; }
  .home__grid--latest {
    grid-column-start: 1;
    -ms-grid-column: 1;
    grid-column-end: 8;
    grid-row-start: 6;
    -ms-grid-row: 6;
    grid-row-end: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    -ms-grid-row: 6;
    -ms-grid-row-span: 3;
    margin: 0 33px 33px 33px; }
  .avatar__img {
    width: 100px; }
  .header__greet {
    display: none; } }

/*------------------------------------*\
  #desktop view
\*------------------------------------*/
@media screen and (min-width: 1200px) {
  html,
  body {
    font-size: 120%; }
  .home__grid {
    display: grid;
    width: 100%;
    padding: 0;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(12, minmax(54px, auto));
    grid-gap: 27px; }
  .home__grid--header {
    grid-column-start: 1;
    -ms-grid-column: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    -ms-grid-row: 1;
    grid-row-end: 8;
    padding: 0 27px; }
  .home__grid--blog {
    grid-column-start: 4;
    -ms-grid-column: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    -ms-grid-row: 2;
    grid-row-end: 4;
    margin: 0; }
  .home__grid--toplikes {
    grid-column-start: 4;
    -ms-grid-column: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    -ms-grid-row: 4;
    grid-row-end: 6;
    margin-right: 0;
    margin-left: 0; }
  .home__grid--portfolio {
    grid-column-start: 7;
    -ms-grid-column: 7;
    grid-column-end: 10;
    grid-row-start: 2;
    -ms-grid-row: 2;
    grid-row-end: 6;
    margin-right: 54px; }
  .home__grid--latest {
    grid-column-start: 4;
    -ms-grid-column: 4;
    grid-column-end: 10;
    grid-row-start: 6;
    -ms-grid-row: 6;
    grid-row-end: 13;
    margin: 0 54px 27px 0px; }
  .home__grid--game {
    display: block;
    grid-column-start: 1;
    -ms-grid-column: 1;
    grid-column-end: 4;
    grid-row-start: 8;
    -ms-grid-row: 8;
    grid-row-end: 13;
    border: 1px solid #645e6d;
    margin-bottom: 27px; }
  .header__greet {
    display: block; }
  .home__avatar {
    display: none; }
  .header__btn {
    margin-top: 27px; }
  .home__grid .header__logo {
    margin-top: 0.44em;
    margin-bottom: 0.3em; }
  .home__portrait {
    display: block;
    background: url("../img/portrait-bw.png") no-repeat center bottom;
    background-size: contain;
    min-width: 385px; } }

/*------------------------------------*\
  #IE11
\*------------------------------------*/
/*------------------------------------*\
  #desktop view
\*------------------------------------*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html,
  body {
    max-height: 560px; }
  .home__grid {
    display: -ms-grid;
    -webkit-ms-grid-template-columns: repeat(9, 1fr);
    -webkit-ms-grid-template-rows: repeat(11, 1fr); }
  .home__grid--header {
    -webkit-ms-grid-column: 1;
    -ms-grid-column-span: 3;
    -webkit-ms-grid-row: 1;
    -ms-grid-row-span: 7;
    padding: 0 27px;
    margin: 0 27px 27px 0;
    min-height: 324px; }
  .home__grid--blog {
    -webkit-ms-grid-column: 4;
    -ms-grid-column-span: 3;
    -webkit-ms-grid-row: 2;
    -ms-grid-row-span: 2;
    margin: 0;
    margin-bottom: 27px;
    min-height: 108px; }
  .home__grid--toplikes {
    -webkit-ms-grid-column: 4;
    -ms-grid-column-span: 3;
    -webkit-ms-grid-row: 4;
    -ms-grid-row-span: 2;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 27px;
    min-height: 108px; }
  .home__grid--portfolio {
    -webkit-ms-grid-column: 7;
    -ms-grid-column-span: 3;
    -webkit-ms-grid-row: 2;
    -ms-grid-row-span: 4;
    margin-right: 0;
    margin-left: 27px;
    margin-bottom: 27px; }
  .home__grid--latest {
    -webkit-ms-grid-column: 4;
    -ms-grid-column-span: 6;
    -webkit-ms-grid-row: 6;
    -ms-grid-row-span: 5;
    margin: 0 0 27px 0px;
    min-width: 540px; }
  .home__grid--game {
    display: block;
    -webkit-ms-grid-column: 1;
    -ms-grid-column-span: 3;
    -webkit-ms-grid-row: 8;
    -ms-grid-row-span: 3;
    margin-right: 27px;
    margin-bottom: 27px;
    min-height: 300px; }
  .home__portrait {
    display: block;
    background: url("../img/portrait-bw.png") no-repeat center bottom;
    background-size: contain;
    min-width: 300px;
    position: relative; }
  .home__avatar {
    display: none; }
  .h4,
  h4,
  h5,
  .h5,
  p,
  .p {
    font-size: 0.7em; }
  .home__grid--header .header__logo, .header--full-width .header__logo {
    font-size: 1.7em; } }

/*------------------------------------*\
  #mobile view
\*------------------------------------*/
.about section .title {
  margin-top: 0;
  padding-top: 0; }

.header__menu {
  margin-right: 14px; }

.header--full-width {
  position: fixed;
  width: 100%;
  height: 54px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10; }

.header--full-width .header__logo {
  margin-left: 14px; }

.about__grid {
  display: grid;
  width: 100%;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, minmax(27px, auto));
  grid-gap: 14px;
  min-height: 100%;
  padding-top: 54px; }

.about__grid .grid__main {
  grid-column-start: 1;
  -ms-grid-column: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  -ms-grid-row: 3;
  grid-row-end: 8;
  margin: 0 14px; }

.about__grid .grid__sidebar {
  grid-column-start: 1;
  -ms-grid-column: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  -ms-grid-row: 1;
  grid-row-end: 3;
  padding-top: 14px; }

.sidebar__contact .contact__item--link {
  font-size: 1em; }

.sidebar__contact .contact__item img {
  padding-right: 7px;
  width: 14px;
  height: 14px; }

.sidebar__img.img--large {
  display: none; }

.sidebar__img.img--small {
  width: 81px;
  margin-bottom: 14px; }

.sidebar__contact .item__icon {
  width: 14px;
  padding-right: 7px; }

.greeting__title.title {
  padding-top: 0;
  margin-top: 0; }

.quick-glance__img {
  padding: 14px 27px; }

.quick-glance--2018 .quick-glance__img {
  padding-bottom: 0; }

.lang__list .list__item img {
  padding-right: 7px;
  padding-left: 0; }

.about #glance-anchor,
.about #edu-anchor,
.about #media-anchor,
.about #lang-anchor,
.about section:first-child,
.about section:last-child {
  margin-bottom: 54px; }

.menu__row {
  display: none; }

@media screen and (max-width: 769px) {
  .toggle-button {
    position: fixed;
    top: 8px;
    right: 14px;
    padding-top: 7px;
    height: 27px;
    width: 27px;
    cursor: pointer;
    z-index: 3; }
  .bar {
    background-color: white;
    display: block;
    width: 100%;
    height: 5px;
    border: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease; }
  .bar + .bar {
    margin-top: 4px; }
  .middle {
    top: 11px; }
  .bottom {
    top: 22px; }
  .toggle-button:hover {
    opacity: .7; }
  .overlay {
    position: fixed;
    background-color: #04030c;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s; }
  .nav-active {
    opacity: 1;
    visibility: visible;
    height: 100%;
    /*    max-height: 340px;*/ }
  .overlay .menu__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2.27em;
    margin-top: 54px; }
  .nav-menu__link {
    padding: 27px;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    color: #F4F5F6; }
    .nav-menu__link:hover {
      background-color: #d63d3d;
      color: #04030c; }
  .toggle-active .bar {
    background-color: #fff; }
  .toggle-active .top {
    -webkit-transform: translateY(6px) translateX(0) rotate(45deg);
    transform: translateY(6px) translateX(0) rotate(45deg); }
  .toggle-active .middle {
    opacity: 0; }
  .toggle-active .bottom {
    -webkit-transform: translateY(-12px) translateX(0) rotate(-45deg);
    transform: translateY(-12px) translateX(0) rotate(-45deg); } }

/*------------------------------------*\
  #tablet view
\*------------------------------------*/
@media screen and (min-width: 769px) {
  html,
  body {
    font-size: 100%; }
  .about__grid {
    display: grid;
    width: 100%;
    padding: 0;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, minmax(27px, auto));
    grid-gap: 27px; }
  .about__grid .grid__sidebar {
    grid-column-start: 5;
    -ms-grid-column: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    -ms-grid-row: 1;
    grid-row-end: 5;
    justify-self: end;
    align-self: start;
    margin-right: 27px;
    padding: 0;
    position: fixed;
    right: 0;
    top: 81px;
    min-width: 272px; }
  .about__grid .grid__main {
    grid-column-start: 1;
    -ms-grid-column: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    -ms-grid-row: 1;
    grid-row-end: 5;
    margin: 108px 27px 27px 27px; }
  .header--full-width {
    height: 81px; }
  .header--full-width .header__logo {
    margin-left: 27px; }
  .header__menu {
    margin-right: 27px; }
  .menu__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .menu__row .menu__item {
    padding: 34px 7px;
    border-radius: 0;
    border: 1px solid inherit;
    color: #F4F5F6; }
  .nav-menu__link .menu__item {
    padding: 34px 7px;
    border-radius: 0;
    border: 1px solid inherit;
    color: #F4F5F6;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
    .nav-menu__link .menu__item:hover {
      background-color: #d63d3d;
      color: #04030c; }
    .nav-menu__link .menu__item:active {
      color: white; }
  .active {
    background-color: #d63d3d; }
  .sidebar__img.img--large {
    display: block;
    width: 272px; }
  .sidebar__contact {
    padding-left: 0;
    padding-top: 7px; }
  .sidebar__contact .contact__item img {
    width: 27px;
    height: 27px; }
  .sidebar__img.img--small {
    display: none; }
  .about #glance-anchor,
  .about #edu-anchor,
  .about #media-anchor,
  .about #lang-anchor,
  .about section:first-child,
  .about section:last-child {
    margin-bottom: 54px; } }

/*------------------------------------*\
  #desktop view
\*------------------------------------*/
@media screen and (min-width: 1025px) {
  html,
  body {
    font-size: 120%; }
  .about__grid {
    display: grid;
    width: 100%;
    padding: 0;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, minmax(27px, auto));
    grid-gap: 54px;
    padding-top: 54px; }
  .about__grid .grid__sidebar {
    grid-column-start: 6;
    -ms-grid-column: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    -ms-grid-row: 1;
    grid-row-end: 8;
    margin-right: 108px;
    top: 108px;
    width: 39%;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .sidebar__contact .h6 {
    font-size: 0.7em; }
  .about__grid .grid__main {
    grid-column-start: 1;
    -ms-grid-column: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    -ms-grid-row: 1;
    grid-row-end: 8;
    margin: 108px 0 27px 108px; }
  .header--full-width {
    height: 108px; }
  .header--full-width .header__logo {
    margin-left: 108px; }
  .header__menu {
    margin-right: 108px; }
  .menu__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    padding-left: 0; }
  .menu__row .menu__item {
    padding: 43px 7px;
    border-radius: 0;
    border: 1px solid inherit;
    color: #F4F5F6; }
  .list__item {
    padding-bottom: 14px; }
  .about #glance-anchor,
  .about #edu-anchor,
  .about #media-anchor,
  .about #lang-anchor,
  .about section:first-child,
  .about section:last-child {
    margin-bottom: 108px; } }

/*------------------------------------*\
  #safari fix 
\*------------------------------------*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .about__grid .grid__sidebar {
    grid-column-start: 5;
    -ms-grid-column: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    -ms-grid-row: 1;
    grid-row-end: 5;
    justify-self: end;
    align-self: start;
    margin-right: 27px;
    padding: 0;
    position: fixed;
    right: 0;
    top: 100px;
    width: 272px;
    float: right; }
  .about__grid .grid__main {
    display: block;
    margin: 81px 54px 54px 54px;
    width: 65%; }
  .header--full-width {
    height: 100px; }
  .header--full-width .header__logo {
    margin-left: 54px; }
  .list__item {
    font-size: 0.7em; } }

/*------------------------------------*\
  #mobile view
\*------------------------------------*/
.portfolio__grid {
  display: grid;
  width: 100%;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, minmax(27px, auto));
  grid-gap: 14px;
  min-height: 100%; }

.button {
  padding: 2px 6px; }

.portfolio__grid .grid__main {
  grid-column-start: 1;
  -ms-grid-column: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  -ms-grid-row: 1;
  grid-row-end: 8;
  margin: 27px 14px 0 14px; }

.article-card {
  margin-bottom: 27px;
  border-radius: 3px;
  padding: 14px;
  position: static !important;
  left: inherit !important;
  top: inherit !important; }

.article-grid .flex--centered-row {
  padding: 0 14px; }

.article-card__content {
  position: relative; }

h2.article-card__title {
  margin: 0; }

.article-card__fig {
  text-align: center; }

.article-card__img {
  max-width: 100%; }

.article-card__link:hover {
  color: #38313f; }

.article-card__tag-list {
  padding-left: 0; }

.article-card__tag-list li {
  display: inline; }

.article-card__body {
  margin-bottom: 14px; }

.article-grid.flex--centered-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }

/*------------------------------------*\
  #tablet view
\*------------------------------------*/
@media screen and (min-width: 769px) {
  html,
  body {
    font-size: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .portfolio__grid {
    display: grid;
    width: 100%;
    padding: 0;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, minmax(27px, auto));
    grid-gap: 27px;
    min-height: 100%; }
  .filters-button-group {
    padding-top: 81px; }
  .portfolio__grid .grid__main {
    grid-column-start: 1;
    -ms-grid-column: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    -ms-grid-row: 1;
    grid-row-end: 8;
    margin: 54px 27px 0 27px; }
  .article-card {
    margin-bottom: 54px; }
  .article-grid .article-card,
  .article-card--hero {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .article-grid .article-card .article-card__content,
  .article-card--hero .article-card__content {
    width: 100%; }
  .article-card__content.flex--centered-col {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 66%; }
  .article-card__fig {
    padding-right: 27px; }
  .article-card__img {
    max-width: 100%; }
  .article-card .article-card__tag-list {
    margin-top: 7px; }
  .article-card__title {
    margin: 0;
    padding: 0; } }

/*------------------------------------*\
  #desktop view
\*------------------------------------*/
@media screen and (min-width: 1024px) {
  html,
  body {
    font-size: 120%; }
  .filters-button-group {
    padding-top: 108px; }
  .button {
    padding: 7px 14px; }
  .portfolio__grid .grid__main {
    margin: 81px 108px 54px 108px; }
  .article-grid.flex--centered-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .article-card__content.flex--centered-col {
    padding-top: 14px; }
  .article-grid .article-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 46%;
    height: 550px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 81px; }
  .article-card:nth-of-type(3n+3) {
    margin-right: 0px; }
  .article-card--hero {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 81px; }
  .article-card--hero .article-card__content {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin-left: 27px; }
  .article-card__fig {
    padding-right: 0; }
  .article-card__img {
    max-width: 100%; }
  h3.article-card__title {
    font-size: 1.2em;
    line-height: 1.5em; }
  .article-card--hero .btn--s {
    padding: 14px 27px;
    border-radius: 25px;
    border: 1px solid #d63d3d;
    color: #d63d3d; }
    .article-card--hero .btn--s:hover, .article-card--hero .btn--s:focus {
      text-decoration: none;
      color: #F4F5F6;
      background-color: #d63d3d; }
    .article-card--hero .btn--s:active {
      color: #04030c; } }

/*------------------------------------*\
  #cinema view
\*------------------------------------*/
@media screen and (min-width: 1560px) {
  .article-grid .article-card {
    max-width: 30%; } }

/*------------------------------------*\
  #IE11 fix in desktop view
\*------------------------------------*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .portfolio__grid .grid__main .article-grid {
    margin-top: 81px; }
  .grid__main .article-card {
    max-width: 100%;
    height: auto;
    margin: 27px auto; }
  .grid__main .article-card__img {
    width: 95%; }
  .grid__main .article-card {
    width: 80%; }
  .grid__main .article-grid .article-card .article-card__body,
  .article-card--hero .article-card__body,
  .article-card--hero .article-card__title {
    width: 98%; }
  .grid__main .article-card--hero {
    max-width: 80%;
    margin-top: 108px;
    margin: 108px auto 27px auto; }
  .menu__row .menu__item {
    padding: 39px 7px;
    border-radius: 0;
    border: 1px solid inherit;
    color: #F4F5F6; } }

/*------------------------------------*\
  #mobile view
\*------------------------------------*/
.single-post .grid__main {
  margin-top: 54px; }

.single-post .article-grid .article-card, .single-post .article-grid .article-card--hero {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 14px; }

.single-post .article-card__content.flex--centered-col {
  height: 100%;
  margin-top: 27px; }

.single-post .article-card__btn.btn--s {
  margin: 27px auto; }

.single-post #disqus_thread {
  padding: 14px; }

/*------------------------------------*\
  #tablet view
\*------------------------------------*/
@media screen and (min-width: 769px) {
  .single-post .grid__main {
    margin-top: 81px; }
  .single-post .article-card__fig {
    padding-right: 0; }
  .portfolio__grid.single-post .article-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

/*------------------------------------*\
  #desktop view
\*------------------------------------*/
@media screen and (min-width: 1024px) {
  .single-post .grid__main {
    margin-top: 135px; }
  .single-post .grid__main .article-card.article-card--hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .single-post .article-card__content.flex--centered-col {
    margin-left: 0;
    width: 65%;
    margin-top: 54px; }
  .single-post .body--hightlighted {
    font-weight: 400;
    line-height: 1.7em; }
  .single-post figcaption.h7 {
    font-style: italic; }
  .single-post .article-card__btn.btn--s {
    margin: 54px auto;
    border-radius: 27px;
    padding: 14px 54px; } }
