/*------------------------------------*\
  #button
\*------------------------------------*/

//$padding-ver,$padding-hor,$radius,$border-color,$link-color
@mixin button($padding-ver, $padding-hor, $radius, $border-color, $link-color) {
    padding: $padding-ver $padding-hor;
    border-radius: $radius;
    border: 1px solid $border-color;
    color: $link-color;
}

.btn--s,
%btn--s {
    @include button(7px, 14px, 25px, $jasper, $jasper);
    transition: 0.3s;
    font-size: 1.15rem;
    font-weight: 500;
    &:hover,
    &:focus {
        text-decoration: none;
        color: $bg;
        background-color: $jasper;
    }
    &:active {
        color: $richblack;
    }
}



/*------------------------------------*\
  #hash tags
\*------------------------------------*/

//$padding-ver,$padding-hor,$radius,$border-color,$link-color
.tag-list__link {
    @include button(4px, 0px, 14px, none, $lavendergray);
    color: $lavendergray;
    &:before {
        content: "#";
    }
    // &:hover,
    // &:focus {
    //     text-decoration: none;
    //     color: $light-onyx;
    // }
    &:active {
        color: $richblack;
    }
}
// comments count styling
.disqus{
    color:$lavendergray;
    &:hover,
    &:focus {
        text-decoration: none;
        color: $light-onyx;
    }
    &:active {
        color: $richblack;
    }
}
/*------------------------------------*\
  #icons
\*------------------------------------*/

%item__icon {
    background-size: cover;
    width: 27px;
    height: 27px;
}
