<div class="footer flex--centered-row bg--richblack">
    <ul class="footer__list flex--centered-row list--no-bullet">
        <li>
            <a href="../views/index.html">
                <div class="item--home"></div>
            </a>
        </li>

        <li class="item__icon ">
            <a href="mailto:adminwithu@gmail.com" target="_blank">
                <div class="item--email"></div>
            </a>
        </li>

        <li class="item__icon">
            <a href="https://www.linkedin.com/in/mannar-hielal/" target="_blank">
                <div class="item--linkedin"></div>
            </a>
        </li>

        <li class="item__icon">
            <a href="https://www.facebook.com/mannar.hielal" target="_blank">
                <div class="item--fb"></div>
            </a>
        </li>
    </ul>
</div>