<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Home | Mannar Hielal </title>
<meta name="description"
    content="Hi! i write, share and like topics about: Web Developmnet, Inline Skating, Psychology and Languages">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="../img/icon.png">
<!-- Place favicon.ico in the root directory -->

<link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<link rel="preconnect" href="https://www.google-analytics.com">
<link rel="preconnect" href="https://www.twitter.com">
<link rel="preconnect" href="https://www.googletagmanager.com">
<link rel="preconnect" href="https://www.google.com">

<link rel="modulepreload" href="https://www.google-analytics.com/analytics.js"/>
<link rel="modulepreload"
    href="https://platform.twitter.com/js/moment~timeline.bcb1cafa923482f4826e32741fe16a98.js" />
<link rel="modulepreload" href="https://platform.twitter.com/js/timeline.28ecda9667eeb8e1b18898b99fee6c31.js" />
<link rel="prefetch" href="https://platform.twitter.com/css/timeline.32f7f89e2e680ebfe3f4cfefb27966ae.light.ltr.css"
    as="style" />