<!doctype html>
<html class="no-js" lang="">

<head>
</head>

<body class="bg--default-color ">

    <div class="portfolio__grid single-post">
        <main class="grid__main">

            <article class="article-card article-card--hero">
                <figure class="article-card__fig">
                    <img class="article-card__img" src="../img/contents/projects/educa01.jpg" alt="educa landing page"
                        loading="lazy">
                </figure>

                <a class="article-card__btn btn--s" href="http://mannar.ch/projects/educa/" target="_blank">LIVE
                    DEMO</a>

                <div class="article-card__content flex--centered-col">
                    <h2 class="article-card__title title">eDuca - Course Landing page</h2>

                    <ul class="article-card__tag-list list--no-bullet">
                        <li>
                            <a class="tag-list__link h6" href="">Web_Development</a>
                        </li>
                        <li>
                            <!-- <span class="disqus-comment-count" data-disqus-url="01blog-vochabular.html#disqus_thread"></span> -->
                            <a class="h6 disqus" href="02landing-page-educa.html#disqus_thread"></a>
                        </li>
                    </ul>

                    <p class="article-card__body body--hightlighted">eDuca landing page is a light-weight landing page
                        for a course, a workshop or a seminar, boost your sales by presenting a demo video of your
                        course/workshop uploaded on youtube or vimeo.
                    </p>

                    <p class="article-card__body body--default">With
                        attractive gradient colors, eDuca was develop not only load fast but also to set up a
                        high-converting
                        sales by getting visitors to use
                        the contact form.
                    </p>

                    <p class="article-card__body body--default">
                        Hours were put on this landing page to make it easy-to-customize, faster to reload & error free.
                    </p>

                    <h3>Features</h3>

                    <ul>
                        <li>"Watch Demo" video in the hero section (youtube or vimeo)
                        </li>

                        <li>Bootstrap 5
                        </li>

                        <li>Fully Responsive
                        </li>

                        <li>Portfolio with Filtering
                        </li>

                        <li>A functioning contact-us form with validations
                        </li>

                        <li>Google analytics integration
                        </li>

                        <li>Favicon, pinned icon & sitemap.
                        </li>

                        <li> 404 page & thank you page.
                        </li>

                        <li> Easy-to-customize fonts, colors, photos to match your branding.
                        </li>

                        <li> one-line compiler: npm run compile:sass
                        </li>

                    </ul>

                    <h3>Tweeked for Performance</h3>

                    <figure class="article-card__fig">
                        <img class="article-card__img" src="../img/contents/projects/educa02.jpg"
                            alt="vochabular-project-image" loading="lazy">
                        <figcaption class="h7 text--onyx">
                            Lighthouse report of eDuca web theme.
                        </figcaption>
                    </figure>

                    <h3>100% Validated Markup by W3C</h3>

                    <figure class="article-card__fig">
                        <img class="article-card__img" src="../img/contents/projects/educa03.jpg"
                            alt="vochabular-project-image" loading="lazy">
                        <figcaption class="h7 text--onyx">
                            W3C Markup validation showing 0 erros
                        </figcaption>
                    </figure>

                    <h3>What's included</h3>

                    <p class="article-card__body body--default">eDuca web theme includes the following files:
                    </p>

                    <ol>
                        <li>
                            SASS files grouped by sections, components, making it easy to find what you need to edit.
                        </li>

                        <li>
                            Images folder that hold all the images used, grouped in folders.
                        </li>

                        <li>
                            Assets folder that holds the CSS, JS & fonts.
                        </li>

                        <li>
                            Index Page Template prepared with Google analytics Template script.
                        </li>

                        <li>
                            Thank you Page Template.
                        </li>

                        <li>
                            Favicon & facicon set for different devices.
                        </li>

                        <li>
                            Sitemap.xml for SEO purpeses. ells search engine crawlers which URLs the crawler can access
                            on your site.
                        </li>

                        <li>
                            Robots.txt which tells search engine crawlers which URLs the crawler can access on your
                            site.
                        </li>

                        <li>
                            .htaccess for caching assets & boosting page load.
                        </li>
                    </ol>

                    <a class="article-card__btn btn--s" href="https://www.templatemonster.com/landing-page-template/educa-course-landing-page-225613.html" target="_blank">Get eDuca</a>

                </div>
            </article>

            <div id="disqus_thread"></div>
            <script>

                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://mannar-hielal.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered
                    by Disqus.</a></noscript>
        </main>
    </div>
    <footer></footer>
    <script id="dsq-count-scr" src="//mannar-hielal.disqus.com/count.js" async></script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript"
        src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ee26f35551a2abc"></script>

    <analytics></analytics>
</body>

</html>