<!doctype html>
<html class="no-js" lang="">

<head>
</head>

<body class="bg--default-color ">

    <div class="portfolio__grid single-post">
        <main class="grid__main">

            <article class="article-card article-card--hero">
                <figure class="article-card__fig">
                    <img class="article-card__img" src="../img/contents/projects/natureflix-detail.jpg" alt="educa landing page"
                        loading="lazy">
                </figure>

                <a class="article-card__btn btn--s" href="http://mannar.ch/projects/natureflix" target="_blank">LIVE
                    DEMO</a>

                <div class="article-card__content flex--centered-col">
                    <h2 class="article-card__title title">Natureflix - Travel Agency Landing page</h2>

                    <ul class="article-card__tag-list list--no-bullet">
                        <li>
                            <a class="tag-list__link h6" href="">Web_Development</a>
                        </li>
                        <li>
                            <!-- <span class="disqus-comment-count" data-disqus-url="01blog-vochabular.html#disqus_thread"></span> -->
                            <a class="h6 disqus" href="03landing-page-natureflix.html#disqus_thread"></a>
                        </li>
                    </ul>

                    <p class="article-card__body body--hightlighted">Natureflex landing page offers a simple design yet attractive elements to deliver
                        a engaging user experience & push sales with its customized contact form.
                    </p>

                    <p class="article-card__body body--default">Check out the video background at the hero section of the website, 
                    </p>

                    <p class="article-card__body body--default">
                        Hours were put on this landing page to make it easy-to-customize, faster to reload & error free.
                    </p>

                    <figure class="article-card__fig">
                        <img class="article-card__img" src="../img/contents/projects/natureflix-detail-full-0.jpg" alt="educa landing page"
                            loading="lazy">
                    </figure>

                    <h3>Features</h3>

                    <ul>
                        <li>Background video
                        </li>

                        <li>Bootstrap 5
                        </li>

                        <li>Fully Responsive
                        </li>

                        <li>Product Cards ( wobbling, flipping)
                        </li>

                        <li>A functioning contact-us form with browser validations
                        </li>

                        <li> A hank you page after form submit
                        </li>

                        <li>Google analytics integration
                        </li>

                        <li>Favicon, pinned icon & sitemap.
                        </li>

                        <li> Easy-to-customize fonts, colors, photos to match your branding.
                        </li>

                        <li> one-line compiler: npm run compile:sass
                        </li>

                    </ul>

                    <h3>Impressive Mobile Menu</h3>

                    <figure class="article-card__fig natureflix">
                        <img class="article-card__img" src="../img/contents/projects/natureflix-detail-full-2.jpg"
                            alt="natureflix-project-image" loading="lazy">
                        <figcaption class="h7 text--onyx">
                            Scale, gradient & transition combination!
                        </figcaption>
                    </figure>

                    <h3>100% Validated Markup by W3C</h3>

                    <figure class="article-card__fig">
                        <img class="article-card__img" src="../img/contents/projects/natureflix-w3-validator.jpg"
                            alt="natureflix-project-image" loading="lazy">
                        <figcaption class="h7 text--onyx">
                            W3C Markup validation showing 0 erros
                        </figcaption>
                    </figure>

                    <h3>What's included</h3>

                    <p class="article-card__body body--default">Natureflix web template includes the following files:
                    </p>

                    <ol>
                        <li>
                            SASS files grouped by sections, components, making it easy to find what you need to edit.
                        </li>

                        <li>
                            Images folder that hold all the images used, grouped in folders.
                        </li>

                        <li>
                            Assets folder that holds the CSS, JS & fonts.
                        </li>

                        <li>
                            Index Page Template prepared with Google analytics Template script.
                        </li>

                        <li>
                            Thank you Page Template.
                        </li>

                        <li>
                            Favicon & facicon set for different devices.
                        </li>

                        <li>
                            Sitemap.xml for SEO purpeses. ells search engine crawlers which URLs the crawler can access
                            on your site.
                        </li>

                        <li>
                            Robots.txt which tells search engine crawlers which URLs the crawler can access on your
                            site.
                        </li>

                        <li>
                            .htaccess for caching assets & boosting page load.
                        </li>
                    </ol>

                    <!-- <a class="article-card__btn btn--s" href="#" target="_blank">Get Natureflix</a> -->

                </div>
            </article>

            <div id="disqus_thread"></div>
            <script>

                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://mannar-hielal.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered
                    by Disqus.</a></noscript>
        </main>
    </div>
    <footer></footer>
    <script id="dsq-count-scr" src="//mannar-hielal.disqus.com/count.js" async></script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript"
        src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ee26f35551a2abc"></script>

    <analytics></analytics>
</body>

</html>