<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Page Not Found | Mannar Hielal</title>
    <meta name="description" content="Page Not Found, please contact me to fix it :)">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="../img/icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link href="https://fonts.googleapis.com/css?family=Indie+Flower%7CLibre+Baskerville%7CMontserrat:300,400"
        rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="portfolio bg--default-color ">
    <header class="header--full-width flex--centered-row bg--richblack">
        <h1 class="header__logo">
            <a class="text--default-color" href="index.html">Mannar Hielal</a>
        </h1>

        <div class="toggle-button">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
        </div>

        <nav class="header__menu overlay">
            <div class="menu__row list--no-bullet h6 flex--centered-row">
                <a class="nav-menu__link" href="about.html">
                    <span class="menu__item">About Me</span>
                </a>

                <a class="nav-menu__link" href="portfolio.html">
                    <span class="menu__item">Portfolio</span>
                </a>

                <a class="nav-menu__link" href="blog.html">
                    <span class="menu__item">Blog</span>
                </a>

                <a class="nav-menu__link" href="toplikes.html">
                    <span class="menu__item">Top Likes</span>
                </a>
            </div>
        </nav>
    </header>

    <div class="portfolio__grid">
        <main class="grid__main">

            <article class="article-card article-card--hero">
                <figure class="article-card__fig">
                    <img class="article-card__img" src="../img/contents/404.gif" alt="404-gif">
                </figure>

                <div class="article-card__content flex--centered-col">
                    <h2 class="article-card__title title">Page Not Found!</h2>

                    <p class="article-card__body"> oh no! i must have missed this one out, please let me know about this
                        so i could fix it, thank you! :)
                    </p>

                    <a class="article-card__btn btn--s" href="mailto:adminwithu@gmail.com" target="_blank">Send
                        feedback</a>
                </div>
            </article>
        </main>
    </div>

    <footer class="footer flex--centered-row bg--richblack">
        <ul class="footer__list flex--centered-row list--no-bullet">
            <li>
                <a href="index.hthml">
                    <div class="item--home"></div>
                </a>
            </li>

            <li class="item__icon ">
                <a href="mailto:adminwithu@gmail.com" target="_blank">
                    <div class="item--email"></div>
                </a>
            </li>

            <li class="item__icon">
                <a href="https://www.linkedin.com/in/mannar-hielal/" target="_blank">
                    <div class="item--linkedin"></div>
                </a>
            </li>

            <li class="item__icon">
                <a href="https://www.facebook.com/mannar.hielal" target="_blank">
                    <div class="item--fb"></div>
                </a>
            </li>
        </ul>
    </footer>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-5825950-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-5825950-10');
    </script>
</body>

</html>