<!doctype html>
<html class="no-js" lang="">

<head>
</head>

<body class="portfolio bg--default-color ">

    <div class="portfolio__grid">
        <main class="grid__main">

            <article class="article-card article-card--hero">
                <video class="float-left mr-3 mb-3 post-image" autoplay loop muted playsinline width="500px">
                    <source src="../img/contents/404.mp4" type="video/mp4">
                </video>

                <div class="article-card__content flex--centered-col">
                    <h2 class="article-card__title title">Page Not Found!</h2>

                    <p class="article-card__body"> oh no! i must have missed this one out, please let me know about this
                        so i could fix it, thank you! :)
                    </p>

                    <a class="article-card__btn btn--s" href="mailto:adminwithu@gmail.com" target="_blank">Send
                        feedback</a>
                </div>
            </article>
        </main>
    </div>
    <footer></footer>
    <analytics></analytics>
</body>

</html>