<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>About me | Mannar Hielal</title>
    <meta name="description"
        content="i wrote here a short biography of me including education skills, languages and some media articles ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="../img/icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link href="https://fonts.googleapis.com/css?family=Indie+Flower%7CLibre+Baskerville%7CMontserrat:300,400"
        rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="about bg--default-color ">
    <header class="header--full-width flex--centered-row bg--richblack">
        <h1 class="header__logo">
            <a class="text--default-color" href="index.html">Mannar Hielal</a>
        </h1>

        <div class="toggle-button">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
        </div>

        <nav class="header__menu overlay">
            <div class="menu__row list--no-bullet h6 flex--centered-row">
                <a class="nav-menu__link" href="about.html">
                    <span class="menu__item">About Me</span>
                </a>

                <a class="nav-menu__link" href="portfolio.html">
                    <span class="menu__item">Portfolio</span>
                </a>

                <a class="nav-menu__link" href="blog.html">
                    <span class="menu__item">Blog</span>
                </a>

                <a class="nav-menu__link" href="toplikes.html">
                    <span class="menu__item">Top Likes</span>
                </a>
            </div>
        </nav>
    </header>

    <div class="about__grid">
        <aside class="grid__sidebar flex--centered-col">
            <img class="sidebar__img img--small" src="../img/avatar-mobile-shadow.png" alt="about-photo-small">

            <img class="sidebar__img img--large" src="../img/about-foto-cut.png" alt="about-photo-large">

            <ul class="sidebar__contact list--no-bullet">
                <li class="contact__item contact--email">
                    <a class="contact__item--link text--onyx h6" href="mailto:adminwithu@gmail.com" target="_blank">
                        <img src="../img/icons/email-side.svg" alt="email-icon">adminwithu@gmail.com
                    </a>
                </li>

                <li class="contact__item contact--linkedin">
                    <a class="contact__item--link text--onyx h6" href="https://www.linkedin.com/in/mannar-hielal/"
                        target="_blank">
                        <img src="../img/icons/linkedin-side.svg" alt="linkedin-side-icon">linkedin.com/in/mannar-hielal
                    </a>
                </li>

                <li class="contact__item contact--fb">
                    <a class="contact__item--link text--onyx h6" href="https://www.facebook.com/mannar.hielal"
                        target="_blank">
                        <img src="../img/icons/fb-side.svg" alt="fb-side-icon">facebook.com/mannar.hielal
                    </a>
                </li>
            </ul>
        </aside>

        <main class="grid__main">
            <section class=" greeting">
                <h2 class="greeting__title title">Hi there!</h2>

                <p class="greeting--intro h5 highlighted">It's Mannar Hielal here!</br> I was born in <a
                        class="h4 dotted" href="https://goo.gl/maps/RHqdydd7ort" target="_blank">Aleppo</a>, worked,
                    studied and lived with my family, until war came and everthing was changed.
                </p>
                <p class="greeting--intro h5 highlighted"> In 2017 i came from Syria all the way to Switzerland. back
                    then, all i knew about Switzerland is "oh this dude is rich! he's got a bank account in Switzerland"
                    and <span class="h4 dotted">"Heidi" the cartoon.</span></p>
                <p class="greeting__body">The ladies in my community in Syria say that after 30 a womans goal is to
                    start a family, dedicate herself to a husband, household and bring children,
                    So i did the same (with redefining some variables) i started learning a new language (German),
                    dedicated myself to learn coding and generated few projects :)
                </p>
            </section>

            <section class="see-more">
                <h2 class="see-more__title title">See Also..</h2>

                <ul class="see-more__list">
                    <li>
                        <a class="see-more__link h4 dotted" href="#glance-anchor">How did i end up here?!</a>
                    </li>

                    <li>
                        <a class="see-more__link h4 dotted" href="#edu-anchor">What did i do back in Syria</a>
                    </li>

                    <li>
                        <a class="see-more__link h4 dotted" href="#lang-anchor">Languages i speak?</a>
                    </li>

                    <li>
                        <a class="see-more__link h4 dotted" href="#media-anchor">In the media (articles from
                            Newspapers).</a>
                    </li>

                    <li>
                        <a class="see-more__link h4 dotted"
                            href="https://drive.google.com/open?id=0B3Lv8oERrq7ld2t2dUpvb2x3X3c"
                            target="_blank">Download my Resume</a>
                    </li>

                    <li>
                        <a class="see-more__link h4 dotted" href="blog.html">Check out my Blog</a>
                    </li>
                </ul>
            </section>

            <div id="glance-anchor"></div>
            <section class="quick-glance">
                <h2 class="quick-glance__title title">A Quick Glance</h2>

                <div class="quick-glance--2014  flex--centered-row">
                    <h2 class="2014__title title">2014</h2>

                    <img class="quick-glance__img" src="../img/syr.svg" alt="syrian-seperator">

                    <p class="2014__body">Back In Aleppo, i worked as a web content manager, in my spare i engaged my
                        self in graphic design and studying English. untill all the bad things broke out there :(</p>
                </div>

                <div class="quick-glance--2015  flex--centered-row">
                    <p class="2015__body">In Turkey i worked a graphic design freelance, It was the phase where i had to
                        save for the journey to Europe.</p>

                    <img class="quick-glance__img" src="../img/turk.svg" alt="turkish-seperator">

                    <h2 class="2015__title title">2015</h2>
                </div>

                <div class="quick-glance--2016  flex--centered-row">
                    <h2 class="2016__title title">2016</h2>

                    <img class="quick-glance__img" src="../img/ch.svg" alt="switzerland-seperator">

                    <p class="2016__body">I did some translation tasks for <a class="h4 dotted"
                            href="http://www.ors.ch/de-CH/Home" target="_blank">ORS </a>and some design work for <a
                            class="h4 dotted" href="http://www.srk-aargau.ch/" target="_blank">SRK</a>. started to learn
                        Inline Skating. at the end of the year i started visiting A2 German course.</p>
                </div>

                <div class="quick-glance--2017  flex--centered-row">
                    <p class="2017__body">I completed a coding bootcamp <a class="h4 dotted"
                            href="http://powercoders.org/" target="_blank">Powercoders</a> then started an internship as
                        Web Developer trainee by the end of the year i completed B1 German course.</p>

                    <img class="quick-glance__img" src="../img/ch.svg" alt="switzerland-seperator">

                    <h2 class="2017__title title">2017</h2>
                </div>

                <div class="quick-glance--2018  flex--centered-row">
                    <h2 class="2018__title title">2018</h2>

                    <img class="quick-glance__img" src="../img/ch.svg" alt="switzerland-seperator">

                    <p class="2018__body">8 month so far at <a class="h4 dotted" href="https://www.liip.ch/en"
                            target="_blank">Liip AG</a> and counting. I also started the B2 German course, P.S: i just
                        started to learn how to bike :p</p>
                </div>

            </section>

            <div id="edu-anchor"></div>
            <section class="edu">
                <h2 class="edu__title title">Education</h2>

                <ul class="edu__list">
                    <li class="list__item">Current Status: Vocational Building as computer scientist <a class="dotted"
                            href="https://www.ict-berufsbildung.ch/berufsbildung/informatikerin-efz-applikationsentwicklung/"
                            target="_blank">Informatiker/in EFZ Applikationsentwicklung</a> - Bern (August 2018 - Juli
                        2020)</li>
                    <li class="list__item">Web Development Trainee at <a class="dotted" href="https://www.liip.ch/en"
                            target="_blank">liip.ch</a> - Bern (2017 - June 2018)</li>
                    <li class="list__item">Coding Bootcamp at <a class="dotted" href="http://powercoders.org/"
                            target="_blank">Powercoders</a> - Bern 2017</li>
                    <li class="list__item">Computer Engineering associate degree - Aleppo (2002)</li>
                    <li class="list__item">Scientific Baccalaureate - Aleppo(2000)</li>
                </ul>
            </section>

            <div id="lang-anchor"></div>
            <section class="lang">
                <h2 class="lang__title title">Languages</h2>

                <ul class="lang__list">
                    <li class="list__item">
                        <span>German (B1) </span>
                        <br>
                        <img src="../img/de-bar.svg" alt="detusch-bar">
                    </li>

                    <li class="list__item">
                        <span>English (B2)</span>
                        <br>
                        <img src="../img/eng-bar.svg" alt="english-bar">
                    </li>

                    <li class="list__item">
                        <span>Arabic (mother tongue) </span>
                        <br>
                        <img src="../img/ar-bar.svg" alt="arabic-bar">
                    </li>
                </ul>
            </section>

            <div id="media-anchor"></div>
            <section class="media">
                <h2 class="media__title title">In The Media</h2>

                <ul class="media__list">
                    <li class="list__item">Mannar : from Aleppo to Bern
                        <a class="dotted" href="https://www.liip.ch/en/blog/mannar-from-aleppo-to-bern"
                            target="_blank">LIIP Blog (2018)</a>
                    </li>

                    <li class="list__item">Mannar Hielal ergreift ihre «silberne Chance»
                        <a class="dotted" href="https://drive.google.com/file/d/0B2uJLN_oeL6BbjMzTkpkbnBhQUk/view"
                            target="_blank">Sonntagzeitung 17.August 2017</a>
                    </li>

                    <li class="list__item">«LAST MINUTE – Eine Flucht ist keine Ferienreise»
                        <a class="dotted" href="https://drive.google.com/open?id=1OqkNZDWriQEAS3s0gBRNICx_UpX5pIhp"
                            target="_blank">Schweizere Flüchthilfe (2017)</a>
                    </li>

                    <li class="list__item">Mannar : from Aleppo to Bern
                        <a class="dotted" href="https://www.liip.ch/en/blog/mannar-from-aleppo-to-bern"
                            target="_blank">LIIP Blog (2018)</a>
                    </li>

                    <li class="list__item">Mannar Hielal ergreift ihre «silberne Chance»
                        <a class="dotted" href="https://drive.google.com/file/d/0B2uJLN_oeL6BbjMzTkpkbnBhQUk/view"
                            target="_blank">Sonntagzeitung 17.August 2017</a>
                    </li>

                    <li class="list__item">«LAST MINUTE – Eine Flucht ist keine Ferienreise»
                        <a class="dotted" href="https://drive.google.com/open?id=1OqkNZDWriQEAS3s0gBRNICx_UpX5pIhp"
                            target="_blank">Schweizere Flüchthilfe (2017)</a>
                    </li>

                </ul>
            </section>
        </main>
    </div>

    <footer class="footer flex--centered-row bg--richblack">
        <ul class="footer__list flex--centered-row list--no-bullet">
            <li>
                <a href="index.html">
                    <div class="item--home"></div>
                </a>
            </li>

            <li class="item__icon ">
                <a href="mailto:adminwithu@gmail.com" target="_blank">
                    <div class="item--email"></div>
                </a>
            </li>

            <li class="item__icon">
                <a href="https://www.linkedin.com/in/mannar-hielal/" target="_blank">
                    <div class="item--linkedin"></div>
                </a>
            </li>

            <li class="item__icon">
                <a href="https://www.facebook.com/mannar.hielal" target="_blank">
                    <div class="item--fb"></div>
                </a>
            </li>
        </ul>
    </footer>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-5825950-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-5825950-10');
    </script>
</body>

</html>