<!doctype html>
<html class="no-js" lang="">

<head>
</head>

<body class="portfolio bg--default-color">
    <div class="filters-button-group button-group">
        <a href="#" class="button is-checked text--onyx h6" data-filter="*">All</a>
        <a href="#" class="button  text--onyx h6" data-filter=".hashtag--web-development">#Web_Development</a>
        <!-- <a href="#" class="button  text--onyx h6" data-filter=".hashtag--graphic-design">#Graphic_design</a>
        <a href="#" class="button  text--onyx h6" data-filter=".hashtag--sketchapp">#Sketchapp</a>
        <a href="#" class="button  text--onyx h6" data-filter=".hashtag--drupal">#Drupal</a>
        <a href="#" class="button  text--onyx h6" data-filter=".hashtag--jquery">#jQuery</a> -->
    </div>

    <div class="portfolio__grid">
        <main class="grid__main">
            <article class="article-card article-card--hero effect--scale hashtag--web-development">
                <figure class="article-card__fig">
                    <img class="article-card__img filter--gray" src="../img/contents/projects/educa-hero.jpg"
                        alt="educa website" loading="lazy">
                </figure>

                <div class="article-card__content flex--centered-col">
                    <h2 class="article-card__title title">eDuca - Course Landing page</h2>

                    <ul class="article-card__tag-list list--no-bullet">
                        <li class="tag-list__link h6">Web_Development</li>
                    </ul>

                    <p class="article-card__body "><strong>eDuca is not just any landing page!</strong> <br> This
                        onepage has not only top web
                        performance features (fast rendering, top performance & SEO rated by lighthouse) but also a 100%
                        validated markup, a functioning contact form & dozens of other cool features!
                    </p>

                    <a class="article-card__btn" href="./02landing-page-educa.html" target="_blank"></a>

                </div>
            </article>

            <article class="article-card article-card--hero effect--scale hashtag--web-development">
                <figure class="article-card__fig">
                    <img class="article-card__img filter--gray" src="../img/contents/projects/vochabular.jpg"
                        alt="vochabular-project-image" loading="lazy">
                </figure>

                <div class="article-card__content flex--centered-col">
                    <h2 class="article-card__title title">My first Drupal8 project, is LIVE</h2>

                    <ul class="article-card__tag-list list--no-bullet">
                        <li class="tag-list__link h6">Web_Development</li>
                    </ul>

                    <p class="article-card__body ">so finally after 8 weeks i finished developing voCHabular
                        new Blog, my heartily congrats to voCHabular having their new Blog published!
                    </p>

                    <a class="article-card__btn" href="./01blog-vochabular.html" target="_blank"></a>

                </div>
            </article>
        </main>
    </div>
    <footer></footer>
    <script id="dsq-count-scr" src="//mannar-hielal.disqus.com/count.js" async></script>
    <analytics></analytics>
</body>

</html>