<!doctype html>
<html class="no-js" lang="">

<head>
</head>

<body class="home bg--onyx">
    <div class="home__wrapper">
        <div class="home__portrait"></div>

        <div class="home__grid">

            <header class="home__grid--header flex--centered-col bg--richblack">
                <div class="home__avatar">
                    <a href="../views/index.html"><img class="avatar__img" src="../img/mannar-avatar-tablet.png"
                            alt="mannar-avatar-tablet"></a>
                </div>

                <h4 class="header__greet text--lavendergray">Hi, i am</h4>

                <h1 class="header__logo">
                    <a class="text--default-color" href="../views/index.html">Mannar Hielal</a>
                </h1>

                <h4 class="header__slogan text--center text--lavendergray">I started my babysteps at 33, again.</h4>

                <a class="h4 header__btn btn--s" href="about.html">Read My Story</a>
            </header>

            <a class="home__grid--blog bg--lavendergray flex--centered-col text--onyx" href="blog.html">
                <img class="grid__icon blog__icon" src="../img/icons/blog-icon.svg" alt="blog-icon">

                <h2 class="grid__title h4">Blog</h2>
            </a>

            <a class="home__grid--toplikes bg--light-onyx flex--centered-col text--default-color" href="toplikes.html">
                <img class="grid__icon toplikes__icon" src="../img/icons/toplikes-icon.svg" alt="toplikes-icon">

                <h2 class="grid__title h4">Top Likes</h2>
            </a>

            <a class="home__grid--portfolio bg--dark-rasberry flex--centered-col text--default-color"
                href="portfolio.html">
                <img class="grid__icon portfolio__icon" src="../img/icons/portfolio-icon.svg" alt="portfolio-icon">

                <h2 class="grid__title h4">Portfolio</h2>
            </a>

            <section class="home__grid--latest bg--default-color">
                <a class="twitter-timeline" href="https://twitter.com/dragonixgirl?ref_src=twsrc%5Etfw"
                    data-width="100%" data-height="100%">Tweets by dragonixgirl</a>
            </section>

            <div class="home__grid--game game"></div>
        </div>
    </div>
    <footer></footer>
    <analytics></analytics>

</body>

</html>