<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Portfolio | Mannar Hielal</title>
    <meta name="description"
        content="Collection of some projects that i have implemented: Graphic Design projects, CMS and HTML Websites">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="../img/icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link href="https://fonts.googleapis.com/css?family=Indie+Flower%7CLibre+Baskerville%7CMontserrat:300,400"
        rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="portfolio bg--default-color ">
    <header class="header--full-width flex--centered-row bg--richblack">
        <h1 class="header__logo">
            <a class="text--default-color" href="../views/index.html">Mannar Hielal</a>
        </h1>

        <div class="toggle-button">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
        </div>

        <nav class="header__menu overlay">
            <div class="menu__row list--no-bullet h6 flex--centered-row">
                <a class="nav-menu__link" href="about.html">
                    <span class="menu__item">About Me</span>
                </a>

                <a class="nav-menu__link" href="portfolio.html">
                    <span class="menu__item">Portfolio</span>
                </a>

                <a class="nav-menu__link" href="blog.html">
                    <span class="menu__item">Blog</span>
                </a>

                <a class="nav-menu__link" href="toplikes.html">
                    <span class="menu__item">Top Likes</span>
                </a>
            </div>
        </nav>
    </header>

    <div class="filters-button-group button-group">
        <a href="#" class="button is-checked text--onyx h6" data-filter="*">All</a>
        <a href="#" class="button  text--onyx h6" data-filter=".hashtag--css-html">#CSS/HTML</a>
        <a href="#" class="button  text--onyx h6" data-filter=".hashtag--graphic-design">#Graphic_design</a>
        <a href="#" class="button  text--onyx h6" data-filter=".hashtag--sketchapp">#Sketchapp</a>
        <a href="#" class="button  text--onyx h6" data-filter=".hashtag--drupal">#Drupal</a>
        <a href="#" class="button  text--onyx h6" data-filter=".hashtag--jquery">#jQuery</a>
    </div>

    <div class="portfolio__grid">
        <main class="grid__main">
            <!-- article hero -->
            <article class="article-card article-card--hero effect--scale hashtag--css-html hashtag--jquery">
                <figure class="article-card__fig">
                    <img class="article-card__img filter--gray" src="../img/contents/projects/antarctica.jpg"
                        alt="antarctica-project-image">
                </figure>

                <div class="article-card__content flex--centered-col">
                    <h2 class="article-card__title title">A fictitous Travel Agency called Antarctica</h2>

                    <ul class="article-card__tag-list list--no-bullet">
                        <li class="tag-list__link h6">CSS/HTML</li>
                        <li class="tag-list__link h6">jQuery</li>
                    </ul>

                    <p class="article-card__body arrow--right">Through this project i learnt tons of new things in
                        #WebDevelopment and i trained the things i've already known.
                    </p>

                    <a class="article-card__btn h7" href="../projects/antarctica/index.html" target="_blank"></a>
                </div>
            </article>

            <div class="article-grid flex--centered-row">
                <!-- article 2 -->
                <article class="article-card effect--scale hashtag--css-html hashtag--sketchapp hashtag--drupal">
                    <figure class="article-card__fig">
                        <img class="article-card__img filter--gray" src="../img/contents/projects/vochabular.jpg"
                            alt="vochabular-project-image">
                    </figure>

                    <div class="article-card__content flex--centered-col">
                        <h3 class="article-card__title title">Vochabular Blog- my first Drupal project</h3>

                        <ul class="article-card__tag-list list--no-bullet">
                            <li class="tag-list__link h6">CSS/HTML</li>

                            <li class="tag-list__link h6">Sketchapp</li>

                            <li class="tag-list__link h6">Drupal</li>
                        </ul>

                        <p class="article-card__body arrow--right">this CMS was designed using Sketch app, implemented
                            with Drupal 8, custom theming and lots of drush cr :)
                        </p>

                        <a class="article-card__btn h7"
                            href="https://www.behance.net/gallery/64953115/Vochabular-Blog-A-club-helps-people-learning-German-an"
                            target="_blank"></a>
                    </div>
                </article>
                <!-- article 3 -->
                <article class="article-card effect--scale hashtag--css-html">
                    <figure class="article-card__fig">
                        <img class="article-card__img filter--gray" src="../img/contents/projects/forty.jpg"
                            alt="forty-project-image">
                    </figure>

                    <div class="article-card__content flex--centered-col">
                        <h3 class="article-card__title">Forty- A Responsive HTML5 template</h3>

                        <ul class="article-card__tag-list list--no-bullet">
                            <li class="tag-list__link h6">CSS/HTML</li>
                        </ul>

                        <p class="article-card__body arrow--right">Flex, float and DOM traversing, is what i learnt
                            through this light weight project.
                        </p>

                        <a class="article-card__btn h7" href="../projects/forty3/forty3.html" target="_blank"></a>
                    </div>
                </article>
                <!-- article 4 -->
                <article class="article-card effect--scale hashtag--graphic-design hashtag--infographic">
                    <figure class="article-card__fig">
                        <img class="article-card__img filter--gray" src="../img/contents/projects/infographic.jpg"
                            alt="infographic-collection-project-image">
                    </figure>

                    <div class="article-card__content flex--centered-col">
                        <h3 class="article-card__title">A Collection of Infographic Design</h3>

                        <ul class="article-card__tag-list list--no-bullet">
                            <li class="tag-list__link h6">Graphic_design</li>

                            <li class="tag-list__link h6">Infographic</li>
                        </ul>

                        <p class="article-card__body arrow--right">A collection of vector design representing
                            educational materials in Infogrpahic style.
                        </p>

                        <a class="article-card__btn h7"
                            href="https://www.behance.net/gallery/65565299/Collection-of-Infographic-designs?"
                            target="_blank"></a>
                    </div>
                </article>
            </div>
        </main>
    </div>

    <footer class="footer flex--centered-row bg--richblack">
        <ul class="footer__list flex--centered-row list--no-bullet">
            <li>
                <a href="index.html">
                    <div class="item--home"></div>
                </a>
            </li>

            <li class="item__icon ">
                <a href="mailto:adminwithu@gmail.com" target="_blank">
                    <div class="item--email"></div>
                </a>
            </li>

            <li class="item__icon">
                <a href="https://www.linkedin.com/in/mannar-hielal/" target="_blank">
                    <div class="item--linkedin"></div>
                </a>
            </li>

            <li class="item__icon">
                <a href="https://www.facebook.com/mannar.hielal" target="_blank">
                    <div class="item--fb"></div>
                </a>
            </li>
        </ul>
    </footer>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-5825950-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-5825950-10');
    </script>
</body>

</html>