<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Top Likes | Mannar Hielal</title>
    <meta name="description" content="Collectoins of things that i favor, best practices, top learning methods..etc">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="../img/icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link href="https://fonts.googleapis.com/css?family=Indie+Flower%7CLibre+Baskerville%7CMontserrat:300,400"
        rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="portfolio bg--default-color ">
    <header class="header--full-width flex--centered-row bg--richblack">
        <h1 class="header__logo">
            <a class="text--default-color" href="../views/index.html">Mannar Hielal</a>
        </h1>

        <div class="toggle-button">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
        </div>

        <nav class="header__menu overlay">
            <div class="menu__row list--no-bullet h6 flex--centered-row">
                <a class="nav-menu__link" href="../views/about.html">
                    <span class="menu__item">About Me</span>
                </a>

                <a class="nav-menu__link" href="../views/portfolio.html">
                    <span class="menu__item">Portfolio</span>
                </a>

                <a class="nav-menu__link" href="../views/blog.html">
                    <span class="menu__item">Blog</span>
                </a>

                <a class="nav-menu__link" href="../views/toplikes.html">
                    <span class="menu__item">Top Likes</span>
                </a>
            </div>
        </nav>
    </header>

    <div class="filters-button-group button-group">
        <a href="#" class="button is-checked text--onyx h6" data-filter="*">All</a>
        <a href="#" class="button  text--onyx h6" data-filter=".hashtag--web-development">#Web_Development</a>
        <a href="#" class="button  text--onyx h6" data-filter=".hashtag--inline-skating">#Inline_Skating</a>
        <a href="#" class="button  text--onyx h6" data-filter=".hashtag--german">#German</a>
        <a href="#" class="button  text--onyx h6" data-filter=".hashtag--fitness">#Fitness</a>
    </div>

    <div class="portfolio__grid">
        <main class="grid__main">

            <div class="article-grid flex--centered-row hashtag--web-development">
                <!-- article 7 -->
                <article class="article-card effect--scale">
                    <figure class="article-card__fig">
                        <img class="article-card__img filter--gray" src="../img/contents/toplikes/derekbanas.jpg"
                            alt="derekbanas-channel-image">
                    </figure>

                    <div class="article-card__content flex--centered-col">
                        <h3 class="article-card__title title">Derek Banas Tutorials</h3>

                        <ul class="article-card__tag-list list--no-bullet">
                            <li class="tag-list__link h6">Web_Development</li>
                        </ul>

                        <p class="article-card__body arrow--right"> This channel cover Tutorials of Django, Ruby on
                            Rails, AngularJs, NodeJS even Game Unity and much more
                        </p>

                        <a class="article-card__btn h7"
                            href="https://www.youtube.com/channel/UCUsSCs1s8a4UKmQ0KPQ2ShQ/playlists"
                            target="_blank"></a>
                    </div>
                </article>

                <!-- article 6 -->
                <article class="article-card effect--scale hashtag--web-development">
                    <figure class="article-card__fig">
                        <img class="article-card__img filter--gray" src="../img/contents/toplikes/cssguidelines.jpg"
                            alt="cssguidelines-image">
                    </figure>

                    <div class="article-card__content flex--centered-col">
                        <h3 class="article-card__title title">CSS { guide: lines; }</h3>

                        <ul class="article-card__tag-list list--no-bullet">
                            <li class="tag-list__link h6">CSS</li>
                        </ul>

                        <p class="article-card__body arrow--right">Write better, clearer CSS that you or anyone could
                            easily further maintain.
                        </p>

                        <a class="article-card__btn h7"
                            href="https://www.youtube.com/channel/UCUsSCs1s8a4UKmQ0KPQ2ShQ/playlists"
                            target="_blank"></a>
                    </div>
                </article>

                <!-- article 5 -->
                <article class="article-card effect--scale hashtag--inline-skating">
                    <figure class="article-card__fig">
                        <img class="article-card__img filter--gray" src="../img/contents/toplikes/shoptask.jpg"
                            alt="shoptask-channel-image">
                    </figure>

                    <div class="article-card__content flex--centered-col">
                        <h3 class="article-card__title title">Shop Task- All about Inline Skating </h3>

                        <ul class="article-card__tag-list list--no-bullet">
                            <li class="tag-list__link h6">Inline_Skating</li>
                        </ul>

                        <p class="article-card__body arrow--right"> New to inline skating? do you want to improve your
                            technique? Shon has got cool tips for you.
                        </p>

                        <a class="article-card__btn h7"
                            href="https://www.youtube.com/channel/UCUsSCs1s8a4UKmQ0KPQ2ShQ/playlists"
                            target="_blank"></a>
                    </div>
                </article>

                <!-- article 4 -->
                <article class="article-card effect--scale hashtag--german">
                    <figure class="article-card__fig">
                        <img class="article-card__img filter--gray" src="../img/contents/toplikes/slowgerman.jpg"
                            alt="slowgerman-channel-image">
                    </figure>

                    <div class="article-card__content flex--centered-col">
                        <h3 class="article-card__title title">Slow German Audio Podcasts</h3>

                        <ul class="article-card__tag-list list--no-bullet">
                            <li class="tag-list__link h6">Languages</li>
                        </ul>

                        <p class="article-card__body arrow--right"> If your goal is to improve your German hearing
                            skills, search no more! check Slow German channel for new podcasts.
                        </p>

                        <a class="article-card__btn h7" href="https://www.youtube.com/user/ZuzkaLight/playlists"
                            target="_blank"></a>
                    </div>
                </article>

                <!-- article 3 -->
                <article class="article-card effect--scale hashtag--fitness">
                    <figure class="article-card__fig">
                        <img class="article-card__img filter--gray" src="../img/contents/toplikes/zuzkalight.jpg"
                            alt="zuzkalight-channel-image">
                    </figure>

                    <div class="article-card__content flex--centered-col">
                        <h3 class="article-card__title title">Zuzka light Fitness</h3>

                        <ul class="article-card__tag-list list--no-bullet">
                            <li class="tag-list__link h6">Fitness</li>
                        </ul>

                        <p class="article-card__body arrow--right"> I favor this channel because the exercises
                            demonstrated require no gym equipment,yet very challenging, i guarantee butt-muscles burn :D
                        </p>

                        <a class="article-card__btn h7" href="https://www.youtube.com/user/ZuzkaLight/playlists"
                            target="_blank"></a>
                    </div>
                </article>

                <!-- article 2 -->
                <article class="article-card effect--scale hashtag--web-development">
                    <figure class="article-card__fig">
                        <img class="article-card__img filter--gray" src="../img/contents/toplikes/thenetninja.jpg"
                            alt="thenetninja-channel-image">
                    </figure>

                    <div class="article-card__content flex--centered-col">
                        <h3 class="article-card__title title">The Net Ninja Tutorials</h3>

                        <ul class="article-card__tag-list list--no-bullet">
                            <li class="tag-list__link h6">Web_Development</li>
                        </ul>

                        <p class="article-card__body arrow--right"> as the owner described it: Black-belt your
                            development skills. Tutorials on Node.js, JavaScript, CSS, HTML, Vue.js, React and much
                            more..
                        </p>

                        <a class="article-card__btn h7"
                            href="https://www.youtube.com/channel/UCW5YeuERMmlnqo4oq8vwUpg/playlists"
                            target="_blank"></a>
                    </div>
                </article>

                <!-- article 1 -->
                <article class="article-card effect--scale hashtag--web-development">
                    <figure class="article-card__fig">
                        <img class="article-card__img filter--gray" src="../img/contents/toplikes/w3school.jpg"
                            alt="w3school-howto-images">
                    </figure>

                    <div class="article-card__content flex--centered-col">
                        <h3 class="article-card__title title">W3Schools How To</h3>

                        <ul class="article-card__tag-list list--no-bullet">
                            <li class="tag-list__link h6">Web_Development</li>
                        </ul>
                        <!-- 5 lines length is prefered -->
                        <p class="article-card__body arrow--right"> the simpliest guide for beginners in web developing
                            to create different web elements likes menus and buttons and apply interactivity.
                        </p>

                        <a class="article-card__btn h7" href="https://www.w3schools.com/howto/default.asp"
                            target="_blank"></a>
                    </div>
                </article>
            </div>

        </main>
    </div>

    <footer class="footer flex--centered-row bg--richblack">
        <ul class="footer__list flex--centered-row list--no-bullet">
            <li>
                <a href="../views/index.html">
                    <div class="item--home"></div>
                </a>
            </li>

            <li class="item__icon ">
                <a href="mailto:adminwithu@gmail.com" target="_blank">
                    <div class="item--email"></div>
                </a>
            </li>

            <li class="item__icon">
                <a href="https://www.linkedin.com/in/mannar-hielal/" target="_blank">
                    <div class="item--linkedin"></div>
                </a>
            </li>

            <li class="item__icon">
                <a href="https://www.facebook.com/mannar.hielal" target="_blank">
                    <div class="item--fb"></div>
                </a>
            </li>
        </ul>
    </footer>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-5825950-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-5825950-10');
    </script>
</body>

</html>