<!doctype html>
<html class="no-js" lang="">

<head>
</head>

<body class="portfolio bg--default-color ">
    <div class="filters-button-group button-group">
        <a href="#" class="button is-checked text--onyx h6" data-filter="*">All</a>
        <a href="#" class="button  text--onyx h6" data-filter=".hashtag--web-development">#Web_Development</a>
        <a href="#" class="button  text--onyx h6" data-filter=".hashtag--inline-skating">#Inline_Skating</a>
        <a href="#" class="button  text--onyx h6" data-filter=".hashtag--german">#German</a>
        <a href="#" class="button  text--onyx h6" data-filter=".hashtag--fitness">#Fitness</a>
    </div>

    <div class="portfolio__grid">
        <main class="grid__main">

            <div class="article-grid flex--centered-row hashtag--web-development">
                <!-- Top like 1 -->
                <article class="article-card effect--scale">
                    <figure class="article-card__fig">
                        <img class="article-card__img filter--gray" src="../img/contents/toplikes/derekbanas.jpg"
                            alt="derekbanas-channel-image" loading="lazy" width="470" height="255">
                    </figure>

                    <div class="article-card__content flex--centered-col">
                        <h3 class="article-card__title title">Derek Banas Tutorials</h3>

                        <ul class="article-card__tag-list list--no-bullet">
                            <li class="tag-list__link h6">Web_Development</li>
                        </ul>

                        <p class="article-card__body "> This channel cover Tutorials of Django, Ruby on
                            Rails, AngularJs, NodeJS even Game Unity and much more
                        </p>

                        <a class="article-card__btn h7"
                            href="https://www.youtube.com/channel/UCUsSCs1s8a4UKmQ0KPQ2ShQ/playlists"
                            target="_blank"></a>
                    </div>
                </article>

                <!--Top like 2 -->
                <article class="article-card effect--scale hashtag--web-development">
                    <figure class="article-card__fig">
                        <img class="article-card__img filter--gray" src="../img/contents/toplikes/cssguidelines.jpg"
                            alt="cssguidelines-image" loading="lazy" width="470" height="255">
                    </figure>

                    <div class="article-card__content flex--centered-col">
                        <h3 class="article-card__title title">CSS { guide: lines; }</h3>

                        <ul class="article-card__tag-list list--no-bullet">
                            <li class="tag-list__link h6">CSS</li>
                        </ul>

                        <p class="article-card__body ">Write better, clearer CSS that you or anyone could
                            easily further maintain.
                        </p>

                        <a class="article-card__btn h7"
                            href="https://www.youtube.com/channel/UCUsSCs1s8a4UKmQ0KPQ2ShQ/playlists"
                            target="_blank"></a>
                    </div>
                </article>

                <!--Top like 3 -->
                <article class="article-card effect--scale hashtag--inline-skating">
                    <figure class="article-card__fig">
                        <img class="article-card__img filter--gray" src="../img/contents/toplikes/shoptask.jpg"
                            alt="shoptask-channel-image" loading="lazy" width="470" height="255">
                    </figure>

                    <div class="article-card__content flex--centered-col">
                        <h3 class="article-card__title title">Shop Task- All about Inline Skating </h3>

                        <ul class="article-card__tag-list list--no-bullet">
                            <li class="tag-list__link h6">Inline_Skating</li>
                        </ul>

                        <p class="article-card__body "> New to inline skating? do you want to improve your
                            technique? Shon has got cool tips for you.
                        </p>

                        <a class="article-card__btn h7"
                            href="https://www.youtube.com/channel/UCUsSCs1s8a4UKmQ0KPQ2ShQ/playlists"
                            target="_blank"></a>
                    </div>
                </article>

                <!-- Top Like 4 -->
                <article class="article-card effect--scale hashtag--german">
                    <figure class="article-card__fig">
                        <img class="article-card__img filter--gray" src="../img/contents/toplikes/slowgerman.jpg"
                            alt="slowgerman-channel-image" loading="lazy" width="470" height="255">
                    </figure>

                    <div class="article-card__content flex--centered-col">
                        <h3 class="article-card__title title">Slow German Audio Podcasts</h3>

                        <ul class="article-card__tag-list list--no-bullet">
                            <li class="tag-list__link h6">Languages</li>
                        </ul>

                        <p class="article-card__body "> If your goal is to improve your German hearing
                            skills, search no more! check Slow German channel for new podcasts.
                        </p>

                        <a class="article-card__btn h7" href="https://www.youtube.com/user/ZuzkaLight/playlists"
                            target="_blank"></a>
                    </div>
                </article>

                <!-- Top like 6 -->
                <article class="article-card effect--scale hashtag--fitness">
                    <figure class="article-card__fig">
                        <img class="article-card__img filter--gray" src="../img/contents/toplikes/zuzkalight.jpg"
                            alt="zuzkalight-channel-image" loading="lazy">
                    </figure>

                    <div class="article-card__content flex--centered-col">
                        <h3 class="article-card__title title">Zuzka light Fitness</h3>

                        <ul class="article-card__tag-list list--no-bullet">
                            <li class="tag-list__link h6">Fitness</li>
                        </ul>

                        <p class="article-card__body "> I favor this channel because the exercises
                            demonstrated require no gym equipment,yet very challenging, i guarantee butt-muscles burn :D
                        </p>

                        <a class="article-card__btn h7" href="https://www.youtube.com/user/ZuzkaLight/playlists"
                            target="_blank"></a>
                    </div>
                </article>

                <!-- Top Like 7 -->
                <article class="article-card effect--scale hashtag--web-development">
                    <figure class="article-card__fig">
                        <img class="article-card__img filter--gray" src="../img/contents/toplikes/thenetninja.jpg"
                            alt="thenetninja-channel-image" loading="lazy" width="470" height="255">
                    </figure>

                    <div class="article-card__content flex--centered-col">
                        <h3 class="article-card__title title">The Net Ninja Tutorials</h3>

                        <ul class="article-card__tag-list list--no-bullet">
                            <li class="tag-list__link h6">Web_Development</li>
                        </ul>

                        <p class="article-card__body "> as the owner described it: Black-belt your
                            development skills. Tutorials on Node.js, JavaScript, CSS, HTML, Vue.js, React and much
                            more..
                        </p>

                        <a class="article-card__btn h7"
                            href="https://www.youtube.com/channel/UCW5YeuERMmlnqo4oq8vwUpg/playlists"
                            target="_blank"></a>
                    </div>
                </article>

                <!-- Top Like 8 -->
                <article class="article-card effect--scale hashtag--web-development">
                    <figure class="article-card__fig">
                        <img class="article-card__img filter--gray" src="../img/contents/toplikes/w3school.jpg"
                            alt="w3school-howto-images" loading="lazy" width="470" height="255">
                    </figure>

                    <div class="article-card__content flex--centered-col">
                        <h3 class="article-card__title title">W3Schools How To</h3>

                        <ul class="article-card__tag-list list--no-bullet">
                            <li class="tag-list__link h6">Web_Development</li>
                        </ul>
                        <!-- 5 lines length is prefered -->
                        <p class="article-card__body "> the simpliest guide for beginners in web developing
                            to create different web elements likes menus and buttons and apply interactivity.
                        </p>

                        <a class="article-card__btn h7" href="https://www.w3schools.com/howto/default.asp"
                            target="_blank"></a>
                    </div>
                </article>
            </div>

        </main>
    </div>
    <footer></footer>
    <analytics></analytics>
</body>

</html>